* {
  padding: 0;
  margin: 0;
  bottom: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
header,
footer,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*-------------------*/

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Italic-VariableFont_wght.woff2") format("woff2"), url("../fonts/Montserrat-Italic-VariableFont_wght.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2"), url("../fonts/Montserrat-VariableFont_wght.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
  background-color: #fafafa;
}

.wraper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*_________________________________________*/

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.header__menu {
  margin: 0px 0px 0px 133px;
}

._menu {
  padding: 5px 0px;
}

.menu__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: 171.4285714286%;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__link:hover {
  color: #252b42;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__services {
  position: relative;
  z-index: 20;
  margin: -111px 0px 0px 0px;
}

.page__subscribe {
  margin: 0px 0px 10px 0px;
}

.header-block {
  text-align: center;
  letter-spacing: 0.1px;
}

.header-block__title {
  font-size: 40px;
  line-height: 142%;
  font-weight: 700;
  color: #252b42;
}

.header-block__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.header-block__sub-title {
  color: #737373;
  line-height: 142%;
}

.main-block {
  position: relative;
}

.main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 395px;
}

.main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

.main-block__title {
  letter-spacing: 0.2px;
  font-size: 58px;
  line-height: 137.9310344828%;
  font-weight: 800;
}

.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: 150%;
}

.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  line-height: 150%;
  z-index: 20;
  letter-spacing: 0.2px;
  min-height: 48px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 36px;
  margin: 10px 0;
}

.main-block__button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}

.main-block__button_border:hover {
  color: #fff;
  background-color: #0d5c63;
}

.main-block__button_orange {
  background-color: #ff7b47;
  color: #fff;
}

.main-block__button_orange:hover {
  background-color: #fff;
  color: #ff7b47;
}

.main-block__button:not(:last-child) {
  margin: 10px 10px 10px 0px;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0px 0px 30px 0px;
}

.services__item {
  height: 100%;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 35px;
}

.item-services > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.item-services__green {
  background-color: #0d5c63;
}

.item-services__green .item-services__title {
  color: #fff;
}

.item-services__green .item-services__text {
  color: #fff;
}

.item-services__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: 133%;
}

.item-services__text {
  color: #737373;
  line-height: 142%;
}

.advanteges {
  padding: 80px 0;
}

.advanteges__header {
  margin: 0px 0px 50px 0px;
}

.advanteges__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px -30px;
}

.advanteges__column {
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.advanteges__item {
  background-color: #fff;
  padding: 30px;
  font-weight: 700;
  text-align: center;
}

.advanteges__item > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.advanteges__icon {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advanteges__value {
  font-size: 40px;
  line-height: 142%;
}

.advanteges__text {
  letter-spacing: 0.1px;
  color: #737373;
  font-size: 16px;
  line-height: 150%;
}

.practice {
  padding: 125px 0px 80px 0px;
}

.practice__header {
  margin: 0px 0px 45px 0px;
}

.practice__body {
  margin: 0px -20px -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.practice__column {
  padding: 0px 20px;
  margin: 0px 0px 30px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.item-practice {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-practice__content {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__link:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-practice__title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 150%;
}

.item-practice__text {
  color: #737373;
  line-height: 142%;
}

.item-practice__image {
  padding: 0px 0px 60% 0px;
  display: block;
}

.whoweare {
  background-color: #fff;
  padding: 80px 0px 130px 0px;
}

.whoweare__header {
  margin: 0px 0px 100px 0px;
}

.whoweare__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.whoweare__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  position: relative;
  padding: 0px 0px 42.25% 0px;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.whoweare__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px 0px 0px 121px;
}

.whoweare__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.whoweare__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.whoweare__text {
  color: #737373;
  line-height: 142%;
}

.whoweare__top:not(:last-child) {
  margin: 0px 0px 50px 0px;
}

.item-whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-whoweare__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
}

.item-whoweare__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}

.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.item-whoweare__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.item-whoweare__text {
  white-space: nowrap;
  color: #737373;
  line-height: 142%;
  width: 225px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.clients {
  padding: 50px 0px;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  padding: 8px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
  text-align: center;
  min-width: 140px;
}

.clients__item img {
  max-width: 100%;
}

.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
}

.subscribe::before {
  content: "";
  background-color: #252b42;
  width: 100%;
  position: absolute;
  height: 77px;
  left: 0;
  bottom: 0;
}

.subscribe__body {
  position: relative;
  z-index: 2;
  padding: 30px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #17213c;
  border-radius: 2px;
}

.subscribe__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  color: #fff;
  font-size: 133%;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 58px;
  background: #F9F9F9;
  color: #737373;
  padding: 0px 20px;
  border-right: 0;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #E6E6E6;
}

.subscribe__input:focus {
  color: #000;
}

.subscribe__button {
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 58px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
  padding: 0px 22px;
}

.subscribe__button:hover {
  background: #e26b3c;
}

.gettouch {
  padding: 80px 0px 136px 0px;
}

.gettouch__header {
  margin: 0px 0px 80px 0px;
}

.gettouch__items {
  margin: 0px -15px;
}

.gettouch__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

.item-gettouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 50px 15px;
}

.item-gettouch > *:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-gettouch__active {
  background-color: #17213c;
  color: #fff;
  padding: 80px 15px;
}

.item-gettouch__active.item-gettouch__button {
  border: 1px solid #fff;
  color: #fff;
}

.item-gettouch__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-gettouch__email {
  color: inherit;
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;
}

.item-gettouch__email:hover {
  text-decoration: underline;
}

.item-gettouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.item-gettouch__button {
  border: 1px solid #FF7B47;
  border-radius: 5px;
  min-height: 44px;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 20px;
  color: #FF7B47;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 142%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.item-gettouch__button:hover {
  background-color: #ff7a46;
  color: #fff;
}

.contactus {
  background-color: #fff;
  padding: 42px 0;
}

.contactus__content {
  padding: 0px 0px 20px 0px;
}

.contactus__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: 133%;
}

.contactus__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.contactus__tetx {
  color: #737373;
  line-height: 142%;
}

.contactus__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FF7B47;
  border-radius: 5px;
  color: #fff;
  min-height: 58px;
  padding: 5px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contactus__button:hover {
  background-color: #e26b3c;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__top {
  background-color: #17213c;
  padding: 40px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.footer__column {
  padding: 10px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6667%;
          flex: 0 1 16.6667%;
}

.footer__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.334%;
          flex: 0 1 33.334%;
}

.footer__label {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin: 0px 0px 20px 0px;
}

.menu-footer__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.menu-footer__link {
  color: #fff;
  line-height: 170%;
  display: inline-block;
  letter-spacing: 0.2px;
}

.menu-footer__link:hover {
  text-decoration: underline;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.contacts-footer__item {
  padding: 0px 0px 0px 34px;
  line-height: 142%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  min-height: 30px;
}

.contacts-footer__item:hover {
  text-decoration: underline;
}

.contacts-footer__item :not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.no-webp .contacts-footer__item_phone {
  background: url("../img/lol01.png") 0 0 no-repeat; }

.no-webp .contacts-footer__item_adres {
  background: url("../img/lol02.png") 0 0 no-repeat; }

.no-webp .contacts-footer__item_mail {
  background: url("../img/lol03.png") 0 0 no-repeat; }

.footer__bottom {
  padding: 25px 0;
}

.footer__copy {
  color: #737373;
  line-height: 171%;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item :not(:last-child) {
  margin: 0px 20px 0px 0px;
}

@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

@media (min-width: 670px) {
  .services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px -15px -30px;
  }

  .services__column {
    padding: 0px 15px;
  }
}

@media (min-width: 767px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .contactus__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contactus__content {
    padding: 0px 20px 0px 0px;
  }
}

@media (min-width: 810px) {
  .subscribe__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .subscribe__title {
    max-width: 266px;
  }
}

@media (min-width: 992px) {
  .gettouch__items {
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0px 30px;
  }
}

@media (max-width: 1300px) {
  .main-block__image img {
    -o-object-position: right;
       object-position: right;
  }
}

@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0px 0px 0px 121px;
  }
}

@media (max-width: 1070px) {
  .subscribe__title {
    margin: 0px 0px 20px 0px;
  }

  .subscribe__body {
    margin: 0px -15px;
    padding: 20px 25px;
  }
}

@media (max-width: 1000px) {
  .advanteges {
    padding: 50px 0;
  }

  .advanteges__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 993px) {
  .practice {
    padding: 40px 0px 80px 0px;
  }
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }

  .header-block__title {
    font-size: 35px;
  }

  .main-block__body {
    padding: 120px 0px 191px 0px;
  }

  .main-block__image img {
    opacity: 0.5;
  }

  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .services__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .whoweare__content {
    padding: 0px 0px 0px 10px;
  }

  .whoweare__video {
    padding: 0px 0px 56.25% 0px;
  }

  .whoweare__video:not(:last-child) {
    margin: 50px 0px 0px 0px;
  }

  .gettouch__header {
    margin: 0px 0px 50px 0px;
  }

  .gettouch {
    padding: 50px 0px 50px 0px;
  }

  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }

  .footer__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0px 50px 0px;
  }

  .whoweare__header {
    margin: 0px 0px 30px 0px;
  }

  .whoweare__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .whoweare__title {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }

  .header-block__title {
    font-size: 30px;
  }

  .advanteges {
    padding: 30px 0;
  }

  .advanteges__header {
    margin: 0px 0px 25px 0px;
  }

  .practice {
    padding: 0px 0px 40px 0px;
  }

  .practice__header {
    margin: 0px 0px 25px 0px;
  }

  .whoweare {
    padding: 10px 0px 10px 0px;
  }

  .clients {
    padding: 30px 0px;
  }

  .footer__bottom {
    display: none;
  }
}

@media (max-width: 710px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .footer__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 630px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 560px) {
  .advanteges__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }

  .header__menu {
    font-size: 18px;
  }

  .main-block__title {
    font-size: 42px;
  }

  .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .services__item {
    padding: 25px;
  }
}

.webp .contacts-footer__item_phone { background: url(../img/lol01.webp) 0 0 no-repeat; }

.webp .contacts-footer__item_adres { background: url(../img/lol02.webp) 0 0 no-repeat; }

.webp .contacts-footer__item_mail { background: url(../img/lol03.webp) 0 0 no-repeat; }